[Unit]
Description=RCT OBC Runner
Requires=network-online.target local-fs.target

[Service]
User=root
Type=idle
ExecStart=/home/e4e/radio_collar_tracker_dsp2/.venv/bin/rctrun --service

[Install]
WantedBy=multi-user.target